*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}
ul li{list-style: none;}
a{text-decoration: none; color: #333;}
main{width: 1140px; margin: 0 auto;}
.section{margin-top: 116px;}
.headder{width: 100%; height: 100vh; background-image: url(Assets/Hero-bg.png);}
.navigation{display: flex; align-items: center; justify-content: space-between; margin: 0 150px; padding: 50px 0;}
.navigation .logoText h2{color: rgba(0, 0, 255, 0.795); font-size: 32px;}
.navigation .logoText h2 span{color: rgba(102, 255, 0, 0.795); font-size: 32px;}
.button{outline: none; border: none; border-radius: 10px; background-color: rgba(0, 0, 255, 0.795); font-size: 32px; color: #fff; font-size: 18px; padding: 12px 36px;}

.headder .hero{display: flex; flex-direction: column; align-items: center; text-align: center; justify-content: center; margin-top: 158px;}
.headder .hero h1{font-size: 65px; color: rgba(7, 7, 216, 0.726); margin-bottom: 38px;}


.content{display: flex; align-items: center; justify-content: space-between;}
.content .text h1{color: rgba(21, 21, 216, 0.767); font-size: 42px; font-weight: bold;}
.content .text p{color: #333; font-size: 24px; line-height: 30px; width: 507px; margin: 23px 0;}
.content .img img{border-radius: 48px;}

.progressBar{background-color: #4d47ff80; padding: 50px 142px; margin-top: 116px; border-radius: 24px;}
.progressBar .content{display: flex; flex-direction: column; width: 856px; margin: 0 auto;}
.progressBar .content h1{margin-bottom: 40px; font-size: 38px; color: #252432;}
.progressBar .content .progress{width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.progressBar .content .progress h1{font-size: 80px; color: chocolate; margin: 0 !important;}
.progressBar .content .progress p{font-size: 24px; color: #10101083; }
.progressBar .content .progress .box{display: flex; align-items: center; flex-direction: column; }


.card{display: flex; flex-wrap: wrap; gap: 20px; }
.card .card-1{width: 366px; height: 243px; background-color: #F2EDED; border-radius: 14px; padding: 24px;}
.card .card-1 .star{display: flex; gap: 5px; margin-bottom: 24px;}
.card .card-1 h1{color: #1E1E1E; font-size: 24px; margin-bottom: 8px;}
.card .card-1 p{color: #333; font-size: 16px; margin-bottom: 24px;}
.card .card-1 .intervewer{display: flex; gap: 12px;}
.card .card-1 .intervewer img{border-radius: 50%; border: 3px solid  #f02400;}
.card .card-1 .intervewer h4{color: #757575; font-size: 18px; font-weight: 600;}
.card .card-1 .intervewer span{color: #B3B3B3; font-size: 16px; font-weight: 500;}


.focuse{display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
.focuse h1{font-size: 50px; font-weight: bold; color: #000000;}
.focuse p{margin: 20px 0; font-size: 16px; color: #00000085;}
.focuse .img{ width: 80%; height: auto; margin-top: 20px;}
.focuse .img img{width: 100%; height: 100%;object-fit: cover; border-radius: 48px;}

.newsletter {border-radius: 14px; display: flex; align-items: center; justify-content: space-between; gap: 150px;}
.newsletter h1{font-size: 97px; color: #333;}
.newsletter .form{width: 497px; padding: 71px 0; }
.newsletter .form input{margin-top: 10px; border: none ; outline: none; width: 100%; padding: 20px 0; padding-left: 32px; margin-bottom: 19px; background-color: #f9e3e3; border-radius: 10px;}
.newsletter .form label{margin-bottom: 10px;}
.newsletter .form .twxtAreaBox{margin-bottom: 19px; width: 100%; outline: none; border-radius: 4px; border: none; background-color: #B3B3B3; padding-top: 20px; padding-left: 32px; font-size: 18px; line-height: 30px; font-weight: 400; color: #333;}


footer{background-color: #757575; color: #252432; display: flex; justify-content: center; text-align: center; align-items: center; flex-direction: column; padding: 104px 0;}
footer h1{color: rgba(0, 0, 255, 0.795); font-size: 32px;}
footer span{color: rgba(102, 255, 0, 0.795); font-size: 32px;}
footer h4{width: 550px; color: #333; font-size: 16px; margin: 20px 0;}